/* Universal selector */
* {
    padding: 1px;
    margin: 1px;
}
/* Tag selectors */
body {
    background-image: url("paper.gif");
    background-color: #cccccc;
   }
 p {
    color:brown;
}
/* ID Selector */
#header1 {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkorange
}
#header2 {
    color:white
}
#header3 {
    color:green
}
/* class selector */
.headers {
    color:green
}
/* group selectors */
code, pre {
    font-size: 24px;
    margin: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding:20px;
}
input, label {
    margin:10px;
    padding:5px
}
#header1, #header2 {
    text-transform: capitalize;
}
/* apply color all list items present in ol with id firstol */
ol#firstol>li {
    color:darkorange
}
/* Attribute Selector */
ol[type="A"] {
    color:orange;
}
ol[type="I"] {
    color:green;
}
/* nav>ul>li {
    display: inline;
} */

nav>ul {
    display: flex;
    list-style-type:none;
    flex-direction: row;
    justify-content:space-around;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;

}
a {
    text-decoration: none;
}